<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns              = "http://www.springframework.org/schema/beans"
       xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:activemq     = "http://activemq.apache.org/schema/core"
       xmlns:camel        = "http://camel.apache.org/schema/spring"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                             http://camel.apache.org/schema/spring       http://camel.apache.org/schema/spring/camel-spring.xsd
                             http://activemq.apache.org/schema/core      http://activemq.apache.org/schema/core/activemq-core.xsd"
>

    <bean id = "connectionFactory" class = "org.apache.activemq.ActiveMQConnectionFactory">
        <property name = "brokerURL" value = "tcp://localhost:61616" />
    </bean>

    <bean id = "jms" class = "org.apache.activemq.camel.component.ActiveMQComponent">
        <property name = "connectionFactory" ref = "connectionFactory" />
    </bean>

    <bean id = "helper"     class = "com.github.straider.camel.OrderHelper"     />
    <bean id = "normalizer" class = "com.github.straider.camel.OrderNormalizer" />

    <activemq:broker useJmx = "false" persistent = "false">
        <activemq:transportConnectors>
            <activemq:transportConnector uri = "tcp://localhost:61616" />
        </activemq:transportConnectors>
    </activemq:broker>

    <camel:camelContext id = "SpringCamelContext">
        <camel:package>com.github.straider.camel</camel:package>
    </camel:camelContext>

</beans>