<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns              = "http://www.springframework.org/schema/beans"
       xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf          = "http://cxf.apache.org/core"
       xmlns:jaxrs        = "http://cxf.apache.org/jaxrs"
       xsi:schemaLocation = "
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://cxf.apache.org/core                  http://cxf.apache.org/schemas/core.xsd
			http://cxf.apache.org/jaxrs                 http://cxf.apache.org/schemas/jaxrs.xsd
       "
>

    <import resource = "classpath:META-INF/cxf/cxf.xml"         />
    <import resource = "classpath:META-INF/cxf/cxf-servlet.xml" />

    <cxf:bus>
        <cxf:features>
            <cxf:logging />
        </cxf:features>
    </cxf:bus>

    <bean id = "greetingService" class = "${service.class}" />

    <jaxrs:server id = "GreetingService" address = "${service.path}">
        <jaxrs:serviceBeans>
            <ref bean = "greetingService" />
        </jaxrs:serviceBeans>
    </jaxrs:server>

</beans>