# Build Tools
#============
target/
build/

# IDEs
#=====
# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
# Eclipse
.metadata
.settings
.project
.classpath
RemoteSystemsTempFiles
# IDEA
.idea/
*.iml

!.mvn/wrapper/maven-wrapper.jar

node_modules/
src/main/resources/static/built/
